/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: var(--font-sans);
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: var(--transition);
}

.hidden {
    display: none !important;
}

/* Estilos para scrollbars do WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--bg-light);
    border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: var(--radius);
    border: 2px solid var(--bg-light);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-hover);
}

::-webkit-scrollbar-corner {
    background: var(--bg-light);
}
